/* =Prototype Style Sheet (empty commented stylesheet)
-----------------------------------------------------------------------------

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://chuckobaze.com
-----------------------------------------------------------------------------*/
/* =Imports
-----------------------------------------------------------------------------*/
/* =Variables
-----------------------------------------------------------------------------*/
/* =Extensions and mixins
-----------------------------------------------------------------------------*/
/* line 23, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
button#enterDogYear, #enterDogAge {
  font-family: 'Chewy', cursive;
  padding: 0.3em 1.2em 0.3em 1.2em;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: white;
  font-size: 25px;
  margin: 0 auto;
  display: block;
}

/* line 35, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
input[type=number], input[type=text], select#dogSize {
  border: solid 1px #f5deb3;
  box-shadow: inset 0.1em 0.1em 0.1em #f5deb3;
  -webkit-box-shadow: inset 0.1em 0.1em 0.1em #f5deb3;
  -moz-box-shadow: inset 0.1em 0.1em 0.1em #f5deb3;
  -ms-box-shadow: inset 0.1em 0.1em 0.1em #f5deb3;
}

/* line 43, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
body {
  font-family: 'Chewy', cursive;
  font-size: 10px;
}

/* line 48, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 53, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
p {
  font-size: 3em;
  text-align: center;
  color: #f5deb3;
}

/* line 59, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
input[type=number], input[type=text] {
  font-size: 1em;
  text-align: center;
  font-family: 'Chewy', cursive;
  color: #FF8C00;
  border-radius: 0.25em;
}

/* line 68, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
div.wrapper {
  height: auto;
}

/* line 72, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
div.container {
  width: 100em;
  margin: 0 auto;
}

/* line 77, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
h1.title {
  font-family: 'Wendy One', sans-serif;
  font-size: 10.5em;
  color: #FF8C00;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

/* line 85, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
div.dog-imgs {
  margin: 0 auto;
  width: 61em;
  margin-bottom: 4em;
}

/* line 91, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
div.dog-img1,
div.dog-img2,
div.dog-img3 {
  width: 20em;
  display: inline-block;
}

/* line 97, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
div.dog-img1 img,
div.dog-img2 img,
div.dog-img3 img {
  width: 18em;
}

/* line 102, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
div.container-wide {
  background-color: #FF8C00;
  height: 45em;
}

/* line 107, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
div.container-small {
  width: 100em;
  margin: 0 auto;
  height: 45em;
}

/* line 114, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
form#ageQuestion {
  padding-top: 5em;
  box-sizing: border-box;
}

/* line 121, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
form#ageQuestion p label {
  margin-right: 0.2em;
}

/* line 127, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
input#yes, input#no {
  height: 2.5em;
  width: 2em;
}

/* line 132, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
#dogYearSection, form#dogAgeSection {
  display: none;
}

/* line 136, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
#dogYearSection p, form#dogAgeSection p {
  margin-bottom: 1.5em;
}

/* line 139, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
#dogYearSection p label, form#dogAgeSection p label {
  margin-right: 0.5em;
}

/* line 145, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
select#dogSize {
  width: 7.5em;
  font-family: 'Chewy', cursive;
  font-size: 0.8em;
  color: #FF8C00;
  margin-top: 2em;
  border-radius: 0.25em;
}

/* line 155, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
button#enterDogYear {
  margin-top: 1em;
  cursor: hand;
}

/* line 161, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
input#dogYear {
  width: 6em;
  height: 2em;
  margin-top: 1em;
}

/* line 167, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
div#ageDisplay {
  text-align: center;
  font-family: 'Chewy', cursive;
  font-size: 3em;
  margin: 1em 0 1em 0;
  color: #f5deb3;
}

/* line 175, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
input#dogAge {
  width: 6em;
  height: 2em;
}

/* line 180, /Users/chuckobazeimac/Documents/puppy-calculator/sass/style copy.scss */
#enterDogAge {
  cursor: hand;
}

/*# sourceMappingURL=../css/style copy.map */